- var scripts = ['https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js','libs/components.js','https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.5.4/datepicker.min.js','https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js','js/main.js']
	each script in scripts
		script(type="text/javascript" src=script)
