mixin navbarfoot()
	.navbar.navbar-inverse(style="margin-bottom:0")
		.container-fluid
			.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right(style="margin-right:20px")
					li
						span(style="padding-left: 10px") اسم المستخدم
					li
						span(style="padding-left: 10px") االمستخدم الحالي:
					li
						span(style="padding-left: 10px") متصل مع
					li
						span(style="padding-left: 10px") المخدم: