mixin button(text)
	button.btn.btn-lg.btn-primary=text
mixin btnprint()
	button.btn.btn-link(style="color:#000;font-size:25px")
		i.fa.fa-print
mixin btnsave()
	button.btn.btn-link(style="color:#000;font-size:25px")
		i.fa.fa-hdd-o
mixin btncross()
	button.btn.btn-link(style="color:red;font-size:25px")
		i.fa.fa-times
mixin btnsucc()
	button.btn.btn-link(style="color:green;font-size:25px")
		i.fa.fa-check
mixin btnref()
	button.btn.btn-link(style="color:#000;font-size:25px")
		i.fa.fa-refresh