include mixins
block includes
<!DOCTYPE html>
html(lang="ar")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		include components/styles
		block title

	body(style='background-color:'+back)
		.wrapper
			.content
				+navbar
				block content
			.footer
				+navbarfoot
		include components/scripts