extends jade/template
block includes
   include jade/mixins/**/*.jade
block title
   title 123
block content
   .container
      .row
         h1.text-right المملكة العربية السعودية
         p.text-right
            span المهندس: باسل الشبلاق
            span المطور
         p.text-right
            span 966-582028844+
            b(style='padding-left:10px') :جوال
         p.text-right
            span alshiblack@gmail.com
            b(style='padding-left:10px') :الايميل