extends jade/template
block includes
	include jade/mixins/**/*.jade
block title
	title 123
block content
	.container
		form(role="form")
			.form-group(style="margin-top:20px")
				.row.text-center
					.col-sm-6
						+button('طباعة')
					.col-sm-6
						h1.text-center(style='margin:0') مالية العقود

	.container
		.row
			table.table.table-responsive.table-bordered.table-striped(style='width:100%')
				thead
					tr
						th الرصيد الحالي
						th تفاصيل
						th الحساب
				tbody
					tr
						td 1
						td 2
						td 3

